nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 1px solid rgba(0,0,0,.1);
  .icon svg {
    width: 2rem;
    height: 2rem;
  }
  .user {
    display: flex;
    align-items: center;
    > *+* { margin-left: 1rem; }
    name- {
      font-size: 1.38rem;
    }
    avatar- {
      width: 2.5rem;
    }
  }
}
