browses- {
  display: flex;
  flex-direction: column;
  align-items: center;
  > *+* { margin-top: 1rem; }
}

browse- {
  position: relative;
  width: 80%;

  screenshot- {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #f2f2f2;

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-top: 62%;
      box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
    }
  }

  .avatar {
    width: 3.6rem;
  }

  meta- {
    display: flex;
    > *+* { margin-left: 1rem; }
    align-items: center;
    padding: 2rem;
  }

  col- {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    > *+*:not(:empty) { margin-top: .5rem; }
  }

  row- {
    display: flex;
    align-items: center;
    > *:not(:empty)+* { margin-left: .25rem; }
  }

  time- {
    font-size: .62rem;
    color: rgba(0,0,0,.5);
  }

  .delete {
    padding: 1rem;
    background: transparent;
    opacity: 0.1;
    &:hover {
      opacity: 0.25;
    }
  }

  browsers- {
    display: flex;
    > *+* { margin-left: .25rem; }
    a {
      width: 1rem;
    }
  }
}
